<h1 class="text-3xl">Contactos</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Cupidatat magna officia incididunt enim officia est non dolor occaecat. Exercitation aliquip sit deserunt ullamco laborum minim minim exercitation mollit enim voluptate ex proident. Non cillum ut dolor deserunt nisi veniam ex nulla consequat mollit nulla. Tempor ea ad amet sunt ex eiusmod deserunt cupidatat consequat eu non eu. In incididunt Lorem enim mollit laboris tempor adipisicing duis quis laboris.

    Cupidatat ad aliquip laboris aliquip incididunt aliqua incididunt magna do nulla ipsum et. Ex excepteur officia cillum incididunt commodo veniam fugiat id duis laboris. Labore ut cupidatat nostrud tempor dolor nostrud. Culpa esse eiusmod veniam enim eiusmod magna. Deserunt proident labore sint consequat culpa aliquip do. Et est dolore nulla consequat in. Eu in Lorem sint ipsum amet dolor non veniam nisi nisi.
  </p>
</section>
