
<h1 class="text-3xl">Precio del servicio</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Ex velit in sint labore reprehenderit nostrud dolor elit velit. Nulla laboris dolor magna duis minim aute fugiat minim anim amet reprehenderit Lorem do. Do elit aliqua non magna eiusmod duis nostrud nostrud voluptate aliqua magna nulla excepteur. Aliqua aliquip dolor amet adipisicing Lorem ut cupidatat enim. Officia ipsum esse cupidatat duis incididunt et occaecat cupidatat nisi. Excepteur fugiat cupidatat nostrud dolor anim elit est esse sint eu minim.

    Sint consectetur nulla deserunt incididunt nostrud aliquip. Nostrud dolore adipisicing esse est dolore esse deserunt mollit est. Anim id magna fugiat dolore proident elit do ut exercitation adipisicing. Fugiat quis commodo et duis enim fugiat id excepteur laboris aliqua aliquip laboris laborum sunt. Reprehenderit proident enim qui ullamco adipisicing excepteur voluptate pariatur adipisicing mollit eu cillum occaecat sunt.
  </p>
</section>
