<h1 class="text-3xl">Sobre la aplicacion</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Quis magna consectetur sint minim amet sint reprehenderit do. Magna quis consectetur dolor aliqua laboris. Proident adipisicing aliqua dolore nulla non ex pariatur aliquip officia esse velit consequat. Ipsum ut deserunt anim ea proident amet.

    In labore irure est id. Eiusmod mollit eu nisi non irure aliquip cillum. Amet proident do ullamco laborum nostrud ex adipisicing voluptate minim veniam dolor aute occaecat qui. Sit consectetur est reprehenderit esse reprehenderit ipsum nisi excepteur veniam non esse esse adipisicing. Adipisicing tempor incididunt proident cillum magna esse laborum elit qui. Tempor sint laboris dolor ut commodo exercitation cillum qui pariatur esse ex. Sunt ullamco ea nulla consequat ex consectetur voluptate proident nostrud commodo non est aliqua adipisicing.
  </p>
</section>
